In [1]:
from nba_api.stats.endpoints import playercareerstats

In [4]:
from nba_api.stats.static import players
# get_players returns a list of dictionaries, each representing a player.
nba_players = players.get_players()
print('Number of players fetched: {}'.format(len(nba_players)))
nba_players[:5]

Number of players fetched: 4831

[{'id': 76001,
  'full_name': 'Alaa Abdelnaby',
  'first_name': 'Alaa',
  'last_name': 'Abdelnaby',
  'is_active': False},
 {'id': 76002,
  'full_name': 'Zaid Abdul-Aziz',
  'first_name': 'Zaid',
  'last_name': 'Abdul-Aziz',
  'is_active': False},
 {'id': 76003,
  'full_name': 'Kareem Abdul-Jabbar',
  'first_name': 'Kareem',
  'last_name': 'Abdul-Jabbar',
  'is_active': False},
 {'id': 51,
  'full_name': 'Mahmoud Abdul-Rauf',
  'first_name': 'Mahmoud',
  'last_name': 'Abdul-Rauf',
  'is_active': False},
 {'id': 1505,
  'full_name': 'Tariq Abdul-Wahad',
  'first_name': 'Tariq',
  'last_name': 'Abdul-Wahad',
  'is_active': False}]

In [5]:
big_fundamental = [player for player in nba_players
                   if player['full_name'] == 'Tim Duncan'][0]
big_fundamental

{'id': 1495,
 'full_name': 'Tim Duncan',
 'first_name': 'Tim',
 'last_name': 'Duncan',
 'is_active': False}

In [6]:
big_fundamental['id']

1495

In [11]:
from nba_api.stats.endpoints import LeagueDashLineups

In [28]:
from nba_api.stats.endpoints import LeagueDashLineups
import pandas

lineups = LeagueDashLineups(season='2022-23', season_type_all_star='Regular Season', per_mode_detailed='Totals', group_quantity=5)

database = lineups.lineups.get_data_frame()

database.describe()

,TEAM_ID,GP,W,L,W_PCT,MIN,FGM,FGA,FG_PCT,FG3M,...,REB_RANK,AST_RANK,TOV_RANK,STL_RANK,BLK_RANK,BLKA_RANK,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK
count,2.000000e+03,2000.000000,2000.00000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,...,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.00000,2000.000000,2000.000000,2000.000000
mean,1.610613e+09,7.069000,3.74050,3.328500,0.506115,36.005024,31.874500,65.898000,0.479600,9.249500,...,1080.952000,1140.266000,14745.836500,1557.670000,1682.798000,12187.943000,15151.27250,1246.494500,1062.583500,7508.239500
std,8.847801e+00,5.624416,3.50775,2.876582,0.260176,58.463432,53.793853,107.768073,0.082717,15.982771,...,777.133068,939.185626,2561.308472,1699.622858,1731.595025,5681.584054,1821.08763,1194.514443,705.331712,6704.382569
min,1.610613e+09,1.000000,0.00000,0.000000,0.000000,11.756667,4.000000,14.000000,0.190000,0.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000
25%,1.610613e+09,4.000000,1.00000,1.000000,0.333000,14.921250,13.000000,27.000000,0.429000,3.000000,...,493.000000,473.000000,14504.000000,398.000000,378.000000,11432.000000,14854.00000,454.000000,499.000000,728.000000
50%,1.610613e+09,6.000000,3.00000,3.000000,0.500000,19.989167,18.000000,37.000000,0.480000,5.000000,...,983.000000,922.000000,15555.000000,1048.000000,991.000000,14712.000000,15542.00000,920.000000,998.000000,5540.000000
75%,1.610613e+09,9.000000,5.00000,4.000000,0.667000,32.362500,29.000000,60.000000,0.529000,9.000000,...,1529.000000,1667.000000,16235.000000,1680.000000,2074.000000,16212.000000,16273.00000,1555.000000,1520.000000,15218.000000
max,1.610613e+09,63.000000,38.00000,31.000000,1.000000,900.463333,840.000000,1701.000000,0.783000,253.000000,...,5372.000000,7924.000000,16782.000000,6829.000000,5209.000000,16782.000000,16782.00000,11278.000000,3793.000000,16782.000000

In [9]:
database.to_csv('lineups_2022_2023.csv',index = False)

In [11]:
columns_list = database.columns.tolist()

print(columns_list)

['GROUP_SET', 'GROUP_ID', 'GROUP_NAME', 'TEAM_ID', 'TEAM_ABBREVIATION', 'GP', 'W', 'L', 'W_PCT', 'MIN', 'FGM', 'FGA', 'FG_PCT', 'FG3M', 'FG3A', 'FG3_PCT', 'FTM', 'FTA', 'FT_PCT', 'OREB', 'DREB', 'REB', 'AST', 'TOV', 'STL', 'BLK', 'BLKA', 'PF', 'PFD', 'PTS', 'PLUS_MINUS', 'GP_RANK', 'W_RANK', 'L_RANK', 'W_PCT_RANK', 'MIN_RANK', 'FGM_RANK', 'FGA_RANK', 'FG_PCT_RANK', 'FG3M_RANK', 'FG3A_RANK', 'FG3_PCT_RANK', 'FTM_RANK', 'FTA_RANK', 'FT_PCT_RANK', 'OREB_RANK', 'DREB_RANK', 'REB_RANK', 'AST_RANK', 'TOV_RANK', 'STL_RANK', 'BLK_RANK', 'BLKA_RANK', 'PF_RANK', 'PFD_RANK', 'PTS_RANK', 'PLUS_MINUS_RANK']

In [19]:
database.loc[:,'GROUP_SET':'PLUS_MINUS'].head()

,GROUP_SET,GROUP_ID,GROUP_NAME,TEAM_ID,TEAM_ABBREVIATION,GP,W,L,W_PCT,MIN,...,REB,AST,TOV,STL,BLK,BLKA,PF,PFD,PTS,PLUS_MINUS
0,Lineups,-203084-1627734-1628368-1628989-1631099-,H. Barnes - D. Sabonis - D. Fox - K. Huerter -...,1610612758,SAC,63,38,25,0.603,900.463333,...,814,521,227.0,135,50,81,325,365,2286,56.0
1,Lineups,-203991-1627749-1628381-1629027-1629631-,C. Capela - D. Murray - J. Collins - T. Young ...,1610612737,ATL,44,25,19,0.568,737.730000,...,726,410,182.0,109,74,71,239,306,1847,82.0
2,Lineups,-203484-203932-203999-1627750-1629008-,K. Caldwell-Pope - A. Gordon - N. Jokic - J. M...,1610612743,DEN,41,27,14,0.659,705.978333,...,637,505,190.0,124,54,62,220,269,1853,201.0
3,Lineups,-201942-202696-203897-1630172-1630245-,D. DeRozan - N. Vucevic - Z. LaVine - P. Willi...,1610612741,CHI,48,24,24,0.500,591.421667,...,533,327,167.0,74,54,51,205,178,1375,2.0
4,Lineups,-203914-1628365-1628976-1630532-1631094-,G. Harris - M. Fultz - W. Carter Jr. - F. Wagn...,1610612753,ORL,36,18,18,0.500,570.430000,...,492,307,164.0,96,44,56,206,229,1355,16.0

In [32]:
team_abbr = "MIL"  # Team abbreviation to filter by
df_team = database[(database["TEAM_ABBREVIATION"] == team_abbr) & (database["MIN"]> 100)].sort_values(by=["PLUS_MINUS"], ascending=False)   # Filter the DataFrame by team abbreviation
df_team.loc[:,'GROUP_SET':'PLUS_MINUS'].head()

,GROUP_SET,GROUP_ID,GROUP_NAME,TEAM_ID,TEAM_ABBREVIATION,GP,W,L,W_PCT,MIN,...,REB,AST,TOV,STL,BLK,BLKA,PF,PFD,PTS,PLUS_MINUS
46,Lineups,-201572-201950-203507-1628960-1628975-,B. Lopez - J. Holiday - G. Antetokounmpo - G. ...,1610612749,MIL,25,18,7,0.720,185.611667,...,203,108,56.0,31,41,21,77,72,466,67.0
33,Lineups,-201572-201950-203507-1626192-1628960-,B. Lopez - J. Holiday - G. Antetokounmpo - P. ...,1610612749,MIL,32,24,8,0.750,231.903333,...,256,137,65.0,30,26,13,62,84,601,43.0
82,Lineups,-201572-201950-203114-203507-1628960-,B. Lopez - J. Holiday - K. Middleton - G. Ante...,1610612749,MIL,16,11,5,0.688,118.773333,...,109,72,29.0,16,10,9,42,41,347,35.0